<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574930189697-bq2hbs43ie7pm0va97g1h1nebi92p3go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574930189697-bq2hbs43ie7pm0va97g1h1nebi92p3go</string>
	<key>API_KEY</key>
	<string>AIzaSyBY8VnVuGJpYjAE9iLE7zRz_H26he0o2wg</string>
	<key>GCM_SENDER_ID</key>
	<string>574930189697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.piklo.driver</string>
	<key>PROJECT_ID</key>
	<string>piklo-f696e</string>
	<key>STORAGE_BUCKET</key>
	<string>piklo-f696e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574930189697:ios:0ba9879dbb67a32721bc80</string>
	<key>DATABASE_URL</key>
	<string>https://piklo-f696e.firebaseio.com</string>



	<key>NSCameraUsageDescription</key>
	<string>Allow Expo experiences to use your camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Allow Expo experiences to access your contacts</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow Expo experiences to use your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow Expo experiences to access your microphone</string>
	<key>NSMotionUsageDescription</key>
	<string>Allow Expo experiences to access your device's accelerometer</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Give Expo experiences permission to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Give Expo experiences permission to access your photos</string>
</dict>
</plist>